*{

    color:white;
    
}

div {

    text-align: center;

}

p {
    position: relative;
    top:25%
}

.container {

    width: 100vw;
    height:100vh ;
    display:grid;
    grid-template-rows:1fr 5fr 1fr 1fr 1fr 1fr ;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    
}
/*
#container1 {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
   
}
#container2 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr ;
  
}*/

#header {

    grid-column-start:1;
    grid-column-end: 2;
    background-color:#2ECC40;
}

#menu {
    
    grid-column-start:2;
    grid-column-end:10;
    background-color:#FFDC00 ;
}

#content1 {

    grid-column-start:1 ;
    grid-column-end:10;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:#F012BE ;
}

#content2 {

    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color:#0074D9 ;
}

#imagem {

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 10;
    background-color:#FF4136;
    align-items: flex-end;

}
#extra {

    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 10;
    background-color:#01FF70;
}

#footer {

    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 10;
    background-color:#B10DC9 ;
}