* {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    
}
body {

    box-sizing: border-box;
    background-image: linear-gradient(180deg, #116485, #1582ad 35%, #91c7dd 71%, #fff);
    max-width: 100vw;
    max-height: 100vh;

}
.Container {

    padding: 10px;
    width:60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;

}
.astrodev, .email, .endereco, .future4, .outsmart {

    border: 4px double #45525b;
    padding: 15px;
    margin-bottom: 10px;
    width: 25vw;
   
}
.apresentacao {

    text-align: center;
    
}